name: Terraform Apply

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: us-east-1

jobs:
  apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    environment: prod
    defaults:
      run:
        working-directory: infra
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Setup SSH Key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > id_rsa
          chmod 600 id_rsa

      - name: Setup prod.tfvars
        run: |
          cat <<EOF > prod.tfvars
          environment       = "prod"
          instance_type     = "t3.micro"
          eip_allocation_id = "eipalloc-09cb2053d42689e1b"
          key_name          = "devops-key"
          private_key_path  = "./id_rsa"
          EOF

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -var-file="prod.tfvars" -auto-approve
